$switcher-icon-small: 14px;
$switcher-icon-large: 24px;

.theme-switcher {
  position: fixed;
  z-index: 5;
  bottom: 5px;
  left: 5px;
  display: flex;

  &__label {
    position: relative;
    cursor: pointer;

    &.is-active {
      svg {
        fill: $text-highlight;
      }
    }
  }

  svg {
    width: $switcher-icon-small;
    height: $switcher-icon-small;
    fill: $text-color;

    @media (min-width: $screen-md-min) {
      width: $switcher-icon-large;
      height: $switcher-icon-large;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}
