{
  "extends": [
    "semistandard-react",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "semistandard-react/prop-types": false
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "16.6.1"
    }
  }
}
