::selection {
  color: $text-highlight;
  background-color: $selection-background-color;
  background-color: var(--selection-background-color); // sass-lint:disable-line no-duplicate-properties
}

.app {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100vh;
  transition: $transition-default;
  color: $text-color;
  background-color: $background;
  background-color: var(--background); // sass-lint:disable-line no-duplicate-properties

  main {
    position: relative;
    z-index: 1;
  }
}
