.logo-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s, translate 0.5s;
  transform: scale(5);

  svg {
    @include themify {
      fill: get-themify-variable('logo-fill');
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
