@import 'color-mixins';

$screen-md-min: 576px;
$screen-lg-min: 992px;
$screen-xlg-min: 1200px;

$dark-background: #232729;
$light-background: #f5f5f5;

$dark-shade: #717c80;
$light-shade: #b0bac0;

$logo-fill-light: #eee;
$logo-fill-dark: #2b3033;

$text-color: $dark-shade;
$text-highlight: $light-shade;
$link-color: $text-color;
$icon-hover-bg: #495962;

$white: #fff;

$themes: (
  'dark': (
    'background': $dark-background,
    'icon-fill': $dark-background,
    'logo-fill': $logo-fill-dark,
    'selection-color': rgba(0, 0, 0, 0.2),
    'repository-link-bg': $logo-fill-dark
  ),
  'light': (
    'background': $light-background,
    'icon-fill': $light-background,
    'logo-fill': $logo-fill-light,
    'selection-color': rgba(255, 255, 255, 0.5),
    'repository-link-bg': $logo-fill-light
  )
);
