// Required CSS resets.
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

//@import url('//fonts.googleapis.com/css?family=Oswald|Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Coustard|Roboto:300');

html {
  line-height: 1.15;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coustard', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

@import 'assets/scss/utils/themes';
@import 'assets/scss/utils/animations';
@import 'assets/scss/utils/utility-classes';

::selection {
  @include themify {
    color: $text-highlight;
    background-color: get-themify-variable('selection-color');
  }
}

.app {
  @include themify {
    background-color: get-themify-variable('background');
  }

  position: relative;
  overflow: hidden;
  height: 100vh;
  color: $text-color;

  main {
    position: relative;
    z-index: 1;
  }
}

@import 'assets/scss/logo';
@import 'assets/scss/slogan';
@import 'assets/scss/repository-link';
